.container {
  text-align: center;
}

#numero {
  font-size: 5rem;
}

.estado-container {
  position: relative;
  padding-bottom: 2.5rem;
}

#estado {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  width: 100%;
}

#contador, .back-link {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 2rem;
}

.numeros {
  margin-bottom: 20px;
}

.numeros button {
  font-size: 2.5rem;
  margin-right: 6px;
  padding: 18px;
}
